{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>NFL Betting Trends</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1>NFL Betting Trends</h1>
    <div class="games">
        {% for game_id, game in games.items() %}
        <a href="/{{ game_id }}">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Team</th>
                    <th>Spread</th>
                    <th>Moneyline</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>{{ game.date }}</td>
                    <td>{{ game.away_team }}</td>
                    <td>
                        {{ game.away_spread }}
                        <br>
                        {{ game.away_spread_odds }}
                    </td>
                    <td>
                        {% if game.away_moneyline_odds > 0 %}
                            +{{ game.away_moneyline_odds }}
                        {% else %}
                            {{ game.away_moneyline_odds }}
                        {% endif %}
                    </td>
                    <td>
                        u{{ game.under }}
                        <br>
                        {{ game.under_odds }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ game.home_team }}</td>
                    <td>
                        {{ game.home_spread }}
                        <br>
                        {{ game.home_spread_odds }}
                    </td>
                    <td>
                        {% if game.home_moneyline_odds > 0 %}
                            +{{ game.home_moneyline_odds }}
                        {% else %}
                            {{ game.home_moneyline_odds }}
                        {% endif %}
                    </td>
                    <td>
                        o{{ game.over }}
                        <br>
                        {{ game.over_odds }}
                    </td>
                </tr>
            </table>
        </a>
        {% endfor %}
    </div>
</div>

{% endblock %}