{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>NFL Betting Trends</title>
{% endblock %}

{% block body %}

<div class="content">
    <a href="/"><h1>NFL Betting Trends</h1></a>
    <p>Click on any game to see trends in similar games or scroll to the bottom of the page to filter trends in all games since 2006-2007.</p>
    <div class="games">
        {% for game_id, game in games.items() %}
        <a href="/{{ game_id }}">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Team</th>
                    <th>Spread</th>
                    <th>Moneyline</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>{{ game.date }}</td>
                    <td>{{ game.away_team }}</td>
                    <td>
                        {{ game.away_spread }}
                        <br>
                        {{ game.away_spread_odds }}
                    </td>
                    <td>
                        {% if game.away_moneyline_odds > 0 %}
                            +{{ game.away_moneyline_odds }}
                        {% else %}
                            {{ game.away_moneyline_odds }}
                        {% endif %}
                    </td>
                    <td>
                        u{{ game.under }}
                        <br>
                        {{ game.under_odds }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ game.home_team }}</td>
                    <td>
                        {{ game.home_spread }}
                        <br>
                        {{ game.home_spread_odds }}
                    </td>
                    <td>
                        {% if game.home_moneyline_odds > 0 %}
                            +{{ game.home_moneyline_odds }}
                        {% else %}
                            {{ game.home_moneyline_odds }}
                        {% endif %}
                    </td>
                    <td>
                        o{{ game.over }}
                        <br>
                        {{ game.over_odds }}
                    </td>
                </tr>
            </table>
        </a>
        {% endfor %}
    </div>

    <!-- Filters -->
    <div class="filters">
        <h3>Filters</h3>
        <form action="/" method="POST">
            <!-- Specific Trend Categories -->
            <strong>Specific Trend Categories</strong><br>
            <!-- Home/Away -->
            <label><input type="checkbox" name="home" value="true" {% if filters['home'] == 'true' %} checked {% endif %}> Home</label>
            <input type="hidden" name="home" value="false">
            <label><input type="checkbox" name="away" value="true" {% if filters['away'] == 'true' %} checked {% endif %}> Away</label>
            <input type="hidden" name="away" value="false">
            <!-- Favorite/Underdog -->
            <label><input type="checkbox" name="favorite" value="true" {% if filters['favorite'] == 'true' %} checked {% endif %}> Favorite</label>
            <input type="hidden" name="favorite" value="false">
            <label><input type="checkbox" name="underdog" value="true" {% if filters['underdog'] == 'true' %} checked {% endif %}> Underdog</label>
            <input type="hidden" name="underdog" value="false">
            <!-- Home/Away Favorite/Underdog -->
            <label><input type="checkbox" name="home_favorite" value="true" {% if filters['home favorite'] == 'true' %} checked {% endif %}> Home Favorite</label>
            <input type="hidden" name="home_favorite" value="false">
            <label><input type="checkbox" name="away_underdog" value="true" {% if filters['away underdog'] == 'true' %} checked {% endif %}> Away Underdog</label>
            <input type="hidden" name="away_underdog" value="false">
            <label><input type="checkbox" name="away_favorite" value="true" {% if filters['away favorite'] == 'true' %} checked {% endif %}> Away Favorite</label>
            <input type="hidden" name="away_favorite" value="false">
            <label><input type="checkbox" name="home_underdog" value="true" {% if filters['home underdog'] == 'true' %} checked {% endif %}> Home Underdog</label>
            <input type="hidden" name="home_underdog" value="false">
            <!-- Over/Under -->
            <label><input type="checkbox" name="over" value="true" {% if filters['over'] == 'true' %} checked {% endif %}> Over</label>
            <input type="hidden" name="over" value="false">
            <label><input type="checkbox" name="under" value="true" {% if filters['under'] == 'true' %} checked {% endif %}> Under</label>
            <input type="hidden" name="under" value="false">
            <br>
            <!-- Specific Betting Categories -->
            <strong>Specific Betting Categories</strong><br>
            <label><input type="checkbox" name="ats" value="true" {% if filters['ats'] == 'true' %} checked {% endif %}> Against the Spread</label>
            <input type="hidden" name="ats" value="false">
            <label><input type="checkbox" name="outright" value="true" {% if filters['outright'] == 'true' %} checked {% endif %}> Outright</label>
            <input type="hidden" name="outright" value="false">
            <br><br>
            <!-- Month -->
            <strong>Month</strong>
            <label><input type="checkbox" id="toggle-all-month" checked> Select/Deselect All</label>
            <br>
            <label><input type="checkbox" name="no_month" value="true" {% if filters['no_month'] == 'true' %} checked {% endif %}> No Month</label>
            <input type="hidden" name="no_month" value="false">
            <label><input type="checkbox" class="month-options" name="january" value="true" {% if filters['january'] == 'true' %} checked {% endif %}> January</label>
            <input type="hidden" name="january" value="false">
            <label><input type="checkbox" class="month-options" name="february" value="true" {% if filters['february'] == 'true' %} checked {% endif %}> February</label>
            <input type="hidden" name="february" value="false">
            <label><input type="checkbox" class="month-options" name="september" value="true" {% if filters['september'] == 'true' %} checked {% endif %}> September</label>
            <input type="hidden" name="september" value="false">
            <label><input type="checkbox" class="month-options" name="october" name="game_month" value="true" {% if filters['october'] == 'true' %} checked {% endif %}> October</label>
            <input type="hidden" name="october" value="false">
            <label><input type="checkbox" class="month-options" name="november" value="true" {% if filters['november'] == 'true' %} checked {% endif %}> November</label>
            <input type="hidden" name="november" value="false">
            <label><input type="checkbox" class="month-options" name="december" value="true" {% if filters['december'] == 'true' %} checked {% endif %}> December</label>
            <input type="hidden" name="december" value="false">
            <!-- Script that ensures at least the "No Month" option will be checked -->
            <script>
                const monthCheckboxes = document.querySelectorAll('.month-options');
                const toggleAllMonthCheckbox = document.getElementById('toggle-all-month');

                function toggleAllMonths() {
                    const allChecked = toggleAllMonthCheckbox.checked;
                    monthCheckboxes.forEach(checkbox => {
                        checkbox.checked = allChecked;
                    });
                }

                toggleAllMonthCheckbox.addEventListener('change', toggleAllMonths);

                const noMonthCheckbox = document.querySelector('input[name="no_month"]')
            
                function updateMonthCheckboxes() {
                    let anyChecked = false;
                    monthCheckboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            anyChecked = true;
                        }
                    });
                    if (!anyChecked) {
                        document.querySelector('input[name="no_month"]').checked = true;
                    }
                }
            
                noMonthCheckbox.addEventListener('change', updateMonthCheckboxes)
                monthCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updateMonthCheckboxes);
                });

                updateMonthCheckboxes();
            </script>
            <br>
            <!-- Day -->
            <strong>Day</strong>
            <label><input type="checkbox" id="toggle-all-day" checked> Select/Deselect All</label>
            <br>
            <label><input type="checkbox" name="no_day" value="true" {% if filters['no_day'] == 'true' %} checked {% endif %}> No Day</label>
            <input type="hidden" name="no_day" value="false">
            <label><input type="checkbox" class="day-options" name="monday" value="true" {% if filters['monday'] == 'true' %} checked {% endif %}> Monday</label>
            <input type="hidden" name="monday" value="false">
            <label><input type="checkbox" class="day-options" name="tuesday" value="true" {% if filters['tuesday'] == 'true' %} checked {% endif %}> Tuesday</label>
            <input type="hidden" name="tuesday" value="false">
            <label><input type="checkbox" class="day-options" name="wednesday" value="true" {% if filters['wednesday'] == 'true' %} checked {% endif %}> Wednesday</label>
            <input type="hidden" name="wednesday" value="false">
            <label><input type="checkbox" class="day-options" name="thursday" value="true" {% if filters['thursday'] == 'true' %} checked {% endif %}> Thursday</label>
            <input type="hidden" name="thursday" value="false">
            <label><input type="checkbox" class="day-options" name="friday" value="true" {% if filters['friday'] == 'true' %} checked {% endif %}> Friday</label>
            <input type="hidden" name="friday" value="false">
            <label><input type="checkbox" class="day-options" name="saturday" value="true" {% if filters['saturday'] == 'true' %} checked {% endif %}> Saturday</label>
            <input type="hidden" name="saturday" value="false">
            <label><input type="checkbox" class="day-options" name="sunday" value="true" {% if filters['sunday'] == 'true' %} checked {% endif %}> Sunday</label>
            <input type="hidden" name="sunday" value="false">
            <!-- Script that ensures at least the "No Day" option will be checked -->
            <script>
                const dayCheckboxes = document.querySelectorAll('.day-options');
                const toggleAllDayCheckbox = document.getElementById('toggle-all-day');

                function toggleAllDays() {
                    const allChecked = toggleAllDayCheckbox.checked;
                    dayCheckboxes.forEach(checkbox => {
                        checkbox.checked = allChecked;
                    });
                }

                toggleAllDayCheckbox.addEventListener('change', toggleAllDays);

                const noDayCheckbox = document.querySelector('input[name="no_day"]')
            
                function updateDayCheckboxes() {
                    let anyChecked = false;
                    dayCheckboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            anyChecked = true;
                        }
                    });
                    if (!anyChecked) {
                        document.querySelector('input[name="no_day"]').checked = true;
                    }
                }
            
                noDayCheckbox.addEventListener('change', updateDayCheckboxes)
                dayCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updateDayCheckboxes);
                });

                updateDayCheckboxes();
            </script>
            <br>
            <!-- Game Type -->
            <strong>Game Type</strong>
            <label><input type="checkbox" id="toggle-all-type" checked> Select/Deselect All</label>
            <br>
            <label><input type="checkbox" name="no_type" value="true" {% if filters['no_type'] == 'true' %} checked {% endif %}> No Type</label>
            <input type="hidden" name="no_type" value="false">
            <label for="divisional"><input type="checkbox" class="type-options" name="divisional" value="true" {% if filters['divisional'] == 'true' %} checked {% endif %}> Divisional Game</label>
            <input type="hidden" name="divisional" value="false">
            <label for="non_divisional"><input type="checkbox" class="type-options" name="non_divisional" value="true" {% if filters['non_divisional'] == 'true' %} checked {% endif %}> Non-Divisional Game</label>
            <input type="hidden" name="non_divisional" value="false">
            <script>
                const typeCheckboxes = document.querySelectorAll('.type-options');
                const toggleAllTypeCheckbox = document.getElementById('toggle-all-type');

                function toggleAllTypes() {
                    const allChecked = toggleAllTypeCheckbox.checked;
                    typeCheckboxes.forEach(checkbox => {
                        checkbox.checked = allChecked;
                    });
                }

                toggleAllTypeCheckbox.addEventListener('change', toggleAllTypes);

                const noTypeCheckbox = document.querySelector('input[name="no_type"]')
            
                function updateTypeCheckboxes() {
                    let anyChecked = false;
                    typeCheckboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            anyChecked = true;
                        }
                    });
                    if (!anyChecked) {
                        document.querySelector('input[name="no_type"]').checked = true;
                    }
                }
            
                noTypeCheckbox.addEventListener('change', updateTypeCheckboxes)
                typeCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updateTypeCheckboxes);
                });

                updateTypeCheckboxes();
            </script>
            <br>
            <!-- Spread -->
            <strong><label for="spread">Spread</label></strong>
            <label><input type="checkbox" id="toggle-all-spread" checked> Select/Deselect All</label>
            <br>
            <!-- Spread Options -->
            <label><input type="checkbox" name="no_spread" value="true" {% if filters['no_spread'] == 'true' %} checked {% endif %}> No Spread</label>
            <input type="hidden" name="no_spread" value="false">
            <br>
            <!-- Individual Spread Options -->
            {% for i in range(1, 15) %}
                {% set exact_str = 'spread ' ~ i ~ '.0' %}
                {% set half_str = 'spread ' ~ i ~ '.5' %}
                <label><input type="checkbox" class="spread-options" name="{{ exact_str }}" value="true" {% if filters[exact_str] == 'true' %} checked {% endif %}> {{i}}.0</label>
                <input type="hidden" name="{{ exact_str }}" value="false">
                <label><input type="checkbox" class="spread-options" name="{{ half_str }}" value="true" {% if filters[half_str] == 'true' %} checked {% endif %}> {{i}}.5</label>
                <input type="hidden" name="{{ half_str }}" value="false">
            {% endfor %}
            <br>
            <!-- Spread Ranges -->
            {% for i in range(1, 15) %}
                {% set more_str = 'spread ' ~ i ~ ' or more' %}
                <label><input type="checkbox" class="spread-options" name="{{ more_str }}" value="true" {% if filters[more_str] == 'true' %} checked {% endif %}> {{i}} or more</label>
                <input type="hidden" name="{{ more_str }}" value="false">
            {% endfor %}
            <br>
            {% for i in range(1, 15) %}
                {% set less_str = 'spread ' ~ i ~ ' or less' %}
                <label><input type="checkbox" class="spread-options" name="{{ less_str }}" value="true" {% if filters[less_str] == 'true' %} checked {% endif %}> {{i}} or less</label>
                <input type="hidden" name="{{ less_str }}" value="false">                
            {% endfor %}
            <!-- Script that ensures at least the "No Spread" option will be checked, select/deselect all -->
            <script>
                const spreadCheckboxes = document.querySelectorAll('.spread-options');
                const toggleAllSpreadCheckbox = document.getElementById('toggle-all-spread');

                function toggleAllSpreads() {
                    const allChecked = toggleAllSpreadCheckbox.checked;
                    spreadCheckboxes.forEach(checkbox => {
                        checkbox.checked = allChecked;
                    });
                }

                toggleAllSpreadCheckbox.addEventListener('change', toggleAllSpreads);

                const noSpreadCheckbox = document.querySelector('input[name="no_spread"]')
            
                function updateSpreadCheckboxes() {
                    let anyChecked = false;
                    spreadCheckboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            anyChecked = true;
                        }
                    });
                    if (!anyChecked) {
                        document.querySelector('input[name="no_spread"]').checked = true;
                    }
                }
            
                noSpreadCheckbox.addEventListener('change', updateSpreadCheckboxes)
                spreadCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updateSpreadCheckboxes);
                });

                updateSpreadCheckboxes();
            </script>
            <br>
            <!-- Total -->
            <strong><label for="total">Total</label></strong>
            <label><input type="checkbox" id="toggle-all-total" checked> Select/Deselect All</label>
            <br>
            <!-- Total Options -->
            <label><input type="checkbox" name="no_total" value="true" {% if filters['no_total'] == 'true' %} checked {% endif %}> No Total</label>
            <input type="hidden" name="no_total" value="false">
            <br>
            {% for i in range(30, 61, 5) %}
                {% set more_str = 'total ' ~ i ~ ' or more' %}
                <label><input type="checkbox" class="total-options" name="{{ more_str }}" value="true" {% if filters[more_str] == 'true' %} checked {% endif %}> {{i}} or more</label>
                <input type="hidden" name="{{ more_str }}" value="false">
            {% endfor %}
            <br>
            {% for i in range(30, 61, 5) %}
                {% set less_str = 'total ' ~ i ~ ' or less' %}
                <label><input type="checkbox" class="total-options" name="{{ less_str }}" value="true" {% if filters[less_str] == 'true' %} checked {% endif %}> {{i}} or less</label>
                <input type="hidden" name="{{ less_str }}" value="false">                
            {% endfor %}
            <!-- Script that ensures at least the "No Total" option will be checked, select/deselect all -->
            <script>
                const totalCheckboxes = document.querySelectorAll('.total-options');
                const toggleAllTotalCheckbox = document.getElementById('toggle-all-total');

                function toggleAllTotals() {
                    const allChecked = toggleAllTotalCheckbox.checked;
                    totalCheckboxes.forEach(checkbox => {
                        checkbox.checked = allChecked;
                    });
                }

                toggleAllTotalCheckbox.addEventListener('change', toggleAllTotals);

                const nospreadCheckbox = document.querySelector('input[name="no_total"]')
            
                function updatespreadCheckboxes() {
                    let anyChecked = false;
                    totalCheckboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            anyChecked = true;
                        }
                    });
                    if (!anyChecked) {
                        document.querySelector('input[name="no_total"]').checked = true;
                    }
                }
            
                nospreadCheckbox.addEventListener('change', updatespreadCheckboxes)
                totalCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', updatespreadCheckboxes);
                });

                updatespreadCheckboxes();
            </script>
            <br>
            <!-- Seasons Included -->
            </strong><label for="seasons">Seasons Included</label></strong>
            <select name="seasons">
                {% for i in range(2006, 2024) %}
                    {% set season_str = 'since ' ~ i ~ '-' ~ (i + 1) %}
                    <option value="since {{ i }}-{{ i + 1 }}" {% if filters['seasons'] == season_str %} selected {% endif %}>since {{ i }}-{{ i + 1 }}</option>
                {% endfor %}
            </select>
            <input type="radio" name="season_type" id="all_seasons" value="all_seasons" {% if filters['season_type'] == 'all_seasons' %} checked {% endif %}>
            <label for="all_seasons">Include all seasons</label>
            <input type="radio" name="season_type" id="selected_season" value="selected_season" {% if filters['season_type'] == 'selected_season' %} checked {% endif %}>
            <label for="selected_season">Include just selected season</label>
            <br>
            <!-- Total Games -->
            Total Games
            <select name="gle-total-games">
                <option value="gt" {% if filters['gle_total_games'] == 'gt' %} selected {% endif %}>></option>
                <option value="gte" {% if filters['gle_total_games'] == 'gte' %} selected {% endif %}>>=</option>
                <option value="eq" {% if filters['gle_total_games'] == 'eq' %} selected {% endif %}>=</option>
                <option value="lte" {% if filters['gle_total_games'] == 'lte' %} selected {% endif %}><=</option>
                <option value="lt" {% if filters['gle_total_games'] == 'lt' %} selected {% endif %}><</option>
            </select>    
            <input type="text" name="total-games" value="{{ filters['total_games'] }}"">
            <br>
            <!-- Win % -->
            Win %
            <select name="gle-win-pct">
                <option value="gt" {% if filters['gle_win_pct'] == 'gt' %} selected {% endif %}>></option>
                <option value="gte" {% if filters['gle_win_pct'] == 'gte' %} selected {% endif %}>>=</option>
                <option value="eq" {% if filters['gle_win_pct'] == 'eq' %} selected {% endif %}>=</option>
                <option value="lte" {% if filters['gle_win_pct'] == 'lte' %} selected {% endif %}><=</option>
                <option value="lt" {% if filters['gle_win_pct'] == 'lt' %} selected {% endif %}><</option>
            </select>    
            <input type="text" name="win-pct" value="{{ filters['win_pct'] }}">
            <br>
            <!-- Sort Criteria -->
            <label for="first-sort-category">First Sort By</label>
            <select name="first-sort-category">
                <option value="win_percentage" {% if filters['first_sort_category'] == 'win_percentage' %} selected {% endif %}>Win %</option> 
                <option value="total_games" {% if filters['first_sort_category'] == 'total_games' %} selected {% endif %}>Total Games</option>               
            </select>
            <select name="first-sort-order">
                <option value="desc" {% if filters['first_sort_order'] == 'desc' %} selected {% endif %}>High to Low</option>
                <option value="asc" {% if filters['first_sort_order'] == 'asc' %} selected {% endif %}>Low to High</option>                
            </select>
            <br>
            <label for="second-sort-category">Second Sort By</label>
            <select name="second-sort-category">
                <option value="total_games" {% if filters['second_sort_category'] == 'total_games' %} selected {% endif %}>Total Games</option>
                <option value="win_percentage" {% if filters['second_sort_category'] == 'win_percentage' %} selected {% endif %}>Win %</option>                
            </select>
            <select name="second-sort-order">
                <option value="desc" {% if filters['second_sort_order'] == 'desc' %} selected {% endif %}>High to Low</option>
                <option value="asc" {% if filters['second_sort_order'] == 'asc' %} selected {% endif %}>Low to High</option>                
            </select>
            <br>
            <!-- Maximum Results -->
            Maximum Results:<input type="text" name="max_results" value="{{ filters['max_results'] }}"><input type="submit" value="Filter">
        </form>
    </div>

    <!-- Trends Table -->
    <div class="trends">
        Results: {{ trends | length }}
        <table>
            <tr>
                <th>Trend</th>
                <th>Total Games</th>
                <th>Record</th>
                <th>Win %</th>
            </tr>
            <!-- Trend Data -->
            {% for i in range(trends | length) %}
                <tr>
                    <td>{{ trends_descriptions[i] }}</td>
                    <td>{{ trends[i].total_games }}</td>
                    <td>{{ trends[i].wins }}-{{ trends[i].losses }}-{{ trends[i].pushes }}</td>
                    <td>{{ trends[i].win_pct }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}